/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200&display=swap');

/* Paleta de cores */
:root { 
--color1: #000008;
--color2: #112a50;
--color3: #425ca4;
--color4: #8394ff;
--color5: #d6d1ff;
}

/* Desktop Layout */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, 
.col9, .col10, .col11, .col13, .col14, .col15, .col16 {
  float: left;
  padding: 1%;
}

.col1{
  width: 4.25%;
}

.col2{
  width: 10.5%;
  padding: 1%;
}

.col3{
  width: 16.25%;
}

.col4{
  width: 22%;
}

.col5{
  width: 29.25%;
}

.col6{
  width: 35.5%;
}

.col7{
  width: 41.75%;
}

.col8{
  width: 45.7%;
}

.col9{
  width: 54.25%;
}

.col10{
  width: 60.5%;
}

.col11{
  width: 66.75%;
}

.col12{
  width: 72%;
  height: 100%;
}

.col13{
  width: 74%;
  height: 100%;
}

.col14{
  width: 85.5%;
}

.col15{
  width: 91.75%;
}

.col16{
  width: 98%;

}

body {
  font-family: 'Open Sans';
  font-size: 1em;
}

h1, h2, h3, h4 {
  font-family: 'Oswald';
  font-weight: bold;
  font-size:1.7em;
}

#profileImage{
  display: flex;
  justify-content: center;
}

#dongarraImage{
  border-radius: 50%;
  max-width: 65%;
  border: 1px solid black;
  filter: grayscale(100%);
}

#resume{
  height: 121.3%;
  background-color: var(--color4);
  box-shadow: 5px 5px 10px black;
  border: solid black 1px;
  border-radius: 10px;
  min-width: 190px;
  min-height: 1141px;
}

#experience{
  border: solid black 1px;
  border-radius: 10px;
  height: 54%;
  margin-bottom: 1%;
  background-color: var(--color5);
  font-size:medium;
  line-height: 1em;
}

#education{
  border: solid black 1px;
  border-radius: 10px;
  height: 40%;
  margin-right: 1.5%;
  background-color: var(--color5);
}

#awards{
  border: solid black 1px;
  border-radius: 10px;
  height: 40%;
  margin-left: 1.5%;
  background-color: var(--color5);
  display:inline-block; 
}

#footerBox {
  border: solid black 1px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px black;
  background-color: var(--color5);
  height: fit-content;
  float: right;
  margin-left: 1%;
  margin-top: 1%;
  min-height: 165px;
}

#footer{
  text-align: center;
  background-size: cover;
  background-position: fixed;
  color: black;
  border: solid black 1px;
  border-radius: 10px;
  height: fit-content;
  background-color: var(--color5);
}

#bodyBox {
  float: right;
  box-shadow: 3px 3px 10px black;
  border-radius: 10px;
  height: 100%;
  background-color: var(--color5);
  min-height: 930px;
}

:not(div, p, h1, h2, h3, h4, ul, i, a, li){
  background-color: var(--color2);
}

a, a:visited, a:active {
  color: inherit;
}

a:hover{
  color: blue;
}

.institute{
  font-weight: bold;
}

.copyright{
  font-size: small;
}

html, body { height: 100%; }.container {
  max-width: 1500px;
  max-height: 1200px;
  min-width: 350px;
  padding: 2px;
  width: 98%;
  height: 98%;
  margin:auto;
  border-radius: 1%;
}

.card{
  padding: 1%;
  width: 90%;
  height: 8%;
  font-size: small;
  border: solid black 1px;
  box-shadow: 0px 0px 10px black;
  position: relative;
  transition: all .2s ease-in-out;
}
 
.card:hover{
  transform: scale(1.05);
  border: solid black 2px;
}

/* Tablet Layout */
@media screen and (max-width: 959px) {
.col1_md .col2_md .col3_md .col4_md .col5_md .col6_md .col7_md .col8_md 
.col9_md .col10_md, .col11_md, .col12_md, .col13_md, .col14_md, .col15_md, .col16_md {
  float: left;
  padding: 1%;
}

.col1_md{
  width: 4.25%;
}

.col2_md{
  width: 10.5%;
}

.col3_md{

  width: 16.75%;
}

.col4_md{
  width: 22%;
}

.col5_md{
  width: 29.25%;
}

.col6_md{
  width: 35.5%;
}

.col7_md{
  width: 41.75%;
}

.col8_md{
  width: 46%;
}

.col9_md{
  width: 54.25%;
}

.col10_md{
  width: 60.5%;
}

.col11_md{
  width: 66.75%;
}

.col12_md{
  width: 72%;
  height: 100%;
}

.col13_md{
  width: 78.25%;
}

.col14_md{
  width: 85.5%;
}

.col15_md{
  width: 91.75%;
}

.col16_md{
  width: 98%;

}

#bodyBox{
  height: 172%;
}

#resume{
  height: 172%;
  min-height: 1413px;
}

#experience{
  height: fit-content;
  line-height: 3.9vh;
  font-size: 80%;
}

#education{
  height: fit-content;
  margin-bottom: 1%;
}

#awards{
  height: fit-content;
  margin-left: 0%;
  margin-bottom: 1%;
}

#footerBox{
  height: fit-content;
}

}

/* Mobile Layout */
@media screen and (max-width: 647px) {

  .col1_sm .col2_sm .col3_sm .col4_sm .col5_sm .col6_sm .col7_sm .col8_sm 
  .col9_sm .col10_sm, .col11_sm, .col12_sm, .col13_sm, .col14_sm, .col15_sm, .col16_sm {
    float: left;
    padding: 1%;
  }

  .col1_sm{
    width: 4.25%;
  }

  .col2_sm{
    width: 10.5%;
  }

  .col3_sm{

    width: 16.75%;
  }

  .col4_sm{
    width: 22%;
  }

  .col5_sm{
    width: 28.25%;
  }

  .col6_sm{
    width: 35.5%;
  }

  .col7_sm{
    width: 41.75%;
  }

  .col8_sm{
    width: 46%;
  }

  .col9_sm{
    width: 54.25%;
  }

  .col10_sm{
    width: 60.5%;
  }

  .col11_sm{
    width: 65.75%;
  }

  .col12_sm{
    width: 72%;
    height: 100%;
  }

  .col13_sm{
    width: 78.25%;
  }

  .col14_sm{
    width: 85.5%;
  }

  .col15_sm{
    width: 91.75%;
  }

  .col16_sm{
    width: 98%;

  }
  #bodyBox{
    height: fit-content;
  }

  #resume{
    height: fit-content;
    min-height: 0px;
    margin-bottom: 2%;
  }

  #awards{
    height: fit-content;
  }

  #footerBox{
    min-height: 0px;
  }
}