.cartao{
	background-color: #899999;
	border-color: black;
	border: 1px solid white;
}
.row{
	padding-right: 20%;
	padding-left: 20%;
}
#myCarousel{
	padding-bottom: 2%;
}
#login{
	float: right;
}
#iddelogin{
	padding-top: 4%;
	padding-right: 5%;
	padding-bottom: 2%;
	padding-left: 5%;
	margin: 10%;
	background-color: #899999;
	margin: 30%;
	border: 6px solid black;
}