

  body {
      position: relative; 
  }
  #noticias {padding-top:50px;
            height:400px;
            color: #000;
            background-color: #fff;}
  #eAutomacao {padding-top:50px;
                height:400px;
                color: #000;
                background-color: #0DFF82;}
  #eAnalises {padding-top:50px;
                height:400px;
                color: #000; 
                background-color: #773717;}
  #eEletronica {padding-top:50px;
                height:400px;
                color: #000; 
                background-color: #F2E439;}
  #eInformatica {padding-top:50px;
                height:400px;
                color: #000; 
                background-color: #294127;}
  #eQuimica {padding-top:50px;
                height:400px;
                color: #000; 
                background-color: #AE7739;}

  .containerCarous{
      padding-top:50px;
      color: #000;
      height: 400px;
  }

 .peca{
     background-color: #0D82AA;
     height: 100px;
 }

.item {
    width: 600px;
    height: 360px;
}

/* resize images */
.item img {
    width: auto;
    height: 100%;
}

