#myCarousel {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border: 3px solid black;
}
#menu {
    height: 65px;

    border: 3px solid black;


}

#btnindex {
    margin-top: 10px;
    align-content: left;
    font-size: 20px;

}
#btnanal {
 margin-top: 10px;
    align-content: left;
    font-size: 20px;
}
#btninstrums {
 margin-top: 10px;
    align-content: left;
    font-size: 20px;
}
#btneletras {
 margin-top: 10px;
    align-content: left;
    font-size: 20px;
}
#btninfo {
 margin-top: 10px;
    align-content: left;
    font-size: 20px;
}
#btnquim {
 margin-top: 10px;
    align-content: left;
    font-size: 20px;
    margin-right: 65%;
}
#btnlogin {
    margin-top: 10px;
    align-content: right;
    font-size: 20px;
}

.card {
  
    border: 3px solid black;

}